body {
    margin: 0;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: scroll;
}

div {
    box-sizing: border-box;

}

.wrapper{
    display: flex;
    flex-wrap: wrap;
}

/*Header*/
.header-logo,
.header-perfil {
    width: 50%;
    background-color: #4E4B4C;
}

.header-logo img {
    width: 17%;
    padding-left: 3%;
    padding-bottom: 1%;
}

.header-perfil {
    padding-top: 14px;
    padding-right: 5%;
}

.header-perfil i{
    color: #FFC34E
}

.header-perfil {
    text-align: end;
}

/*Navbar Menu*/
.capa-navbar {
    background-color: #FFC34E;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: 'Roboto', sans-serif;
}

.capa-navbar a {
    width: 25%;
    text-align: center;
    text-decoration: none;
    color: black;
}

/*Contenido*/
.titulo1{
    padding-top: 20px;
    text-align: center;
    font-family: 'Ethnocentric Rg', sans-serif;
    padding-bottom: 60px;
    color: #FF6C2B ;
}
.ventajas{
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
}
.ventajas h1 {
    padding-left: 20px;
    font-family: 'Montserrat', sans-serif;
}
.ayuno, .ventajas {
    padding-left: 20px;
    width: 50%;
}
.ayuno {
    text-align: center;
}

.ayuno{
    padding-right: 50px;
    padding-left: 40px;
}

.titulo2{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-top: 50px;
}

.metrica{
    padding-top: 60px;
    text-align: center;
    padding-bottom: 4%;
}
.ayuno14, .ayuno16, .ayuno18, .ayuno20 {
    width: 25%;
    text-align: center;
    height: min-content;
    padding-right: 1%;
    padding-left: 1%;
}
.ayuno14 p, .ayuno16 p, .ayuno18 p, .ayuno20 P {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
}
/*Parte del Footer*/
.capa-footer1 {
    background-color: #5A5D5D;
    padding-bottom: 20px;
    
}

.capa-footer1 h3 {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.footer-redes,
.footer-info {
    width: 50%;
    text-align: center;
}

.footer-info p {
    /*Parrafo de informacion sobre la compañia*/
    width: 50%;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding-left: 24%;
    padding-top: 2%;
}



.lado-imagenes {
    text-align: end;
}

.redes-img {
    width: 7%;
    text-align: end;
    padding-right: 6px;
}

.nombre-red {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 25px;
    padding-top: 10px;
    width: 100%;
}

.nombre-red a {
    text-decoration: none;
    color: white;
}

/*CSS para la parte del copyright*/
.capa-footer2 {
    background-color: #4E4B4C;
}

.copyright,
.sobre-nosotros {
    width: 50%;
    font-family: 'Roboto', sans-serif;
}

.texto-copyright {
    padding-left: 5%;
    color: white;

}

.sobre-nosotros {
    padding-top: 13px;
    text-align: center;
}

.sobre-nosotros a {
    text-decoration: none;
    color: white;
}

@media(max-width: 767px) {
    .header-logo img {
        width: 70%;
    }
    .header-perfil img {
        width: 25%;
        padding-bottom: 3%;
    }
    .titulo1 {
        padding-bottom: 0%;
    }
    .ayuno, .ventajas {
        width: 100%;
    }
    .ayuno {
        padding-left: 5%;
        padding-right: 5%;
    }
    .ayuno img {
        width: 100%;
    }
    .ventajas p, .ventajas h1 {
        text-align: center;
    }
    .ayuno14, .ayuno16, .ayuno18, .ayuno20 {
        width: 50%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .metrica img {
        width: 95%;
    }
    /*Foooter*/
    .footer-info,
    .footer-redes,
    .footer-info p {
        width: 100%;
    }

    .footer-info p {
        padding-left: 0%;
    }
    .nombre-red {
        width: 33.3%;
    }
    .img-copyright img {
        width: 35%;
        padding-top: 34%;
    }
    .sobre-nosotros {
        padding-top: 6%;
    }
}