div {
    box-sizing: border-box;
}

body {
    margin: 0%;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

/*Header*/
.header-logo,
.header-perfil {
    width: 50%;
    background-color: #4E4B4C;
}

.header-logo img {
    width: 17%;
    padding-left: 3%;
    padding-bottom: 1%;
}

.header-perfil {
    padding-top: 14px;
    padding-right: 5%;
}

.header-perfil i{
    color: #FFC34E
}

.header-perfil {
    text-align: end;
}

/*Navbar Menu*/
.capa-navbar {
    background-color: #FFC34E;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: 'Roboto', sans-serif;
}

.capa-navbar a {
    width: 25%;
    text-align: center;
    text-decoration: none;
    color: black;
}

/*perfil*/
.capa-perfil {
    padding-top: 5%;
}
.foto-perfil,
.info-perfil {
    width: 50%;
}
.foto-perfil img {
    width: inherit;
    padding-left: 30%;
}
.info-perfil {
    padding-top: 2%;
    padding-left: 8%;
}
.info-perfil h2{
    padding-bottom: 2%;
    font-family: 'Montserrat', sans-serif;
}
/*Formulario*/
.boton-registrar, .boton-logro{
    font-size: 1em;
    padding: 15px 48px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.1s ease-out;
    background: #FF6C2B;
    border-radius: 50px;
    border: solid black;
    font-family: 'Montserrat', sans-serif;
}
.canva_style {
    width:100%;
    max-width:800px;
    margin-left: auto;
    margin-right: auto;
}
.overlay{ 
    position: fixed;
    top: 0;
    bottom: 0;
    Left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    font-family: 'Roboto', sans-serif;
}

.overlay:target{
    visibility: visible;
    opacity: 1;
}

.wrapper-formulario{ 
    margin: 70px auto;
    padding: 20px;
    background: #e7e7e7;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 0s ease-in-out;
    text-align: start;
}

.wrapper-formulario h3{
    margin-top: 0;
    color: #333;
}

.wrapper-formulario .boton-cerrar{
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.wrapper-formulario .contenido-formulario{
    max-height: 70%;
    overflow: auto;
}

.contenedor-estilo{
    border-radius: 5px;
    background-color: #e7e7e7;
    padding: 0px 0;
}

.form label{
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
}

input[type=text], input[type=email], input[type=number], input[type=date], input[type=file], select{
    width: 100%;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type="button"]{
    background-color: #413b3b;
    color: #fff;
    padding: 15px 50px;
    border:none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#mostrar-imagen{
    width: 200px;
    height: 100px;
    border: 1px solid black;
    margin-bottom: 10px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/*grafico*/
.capa-grafico {
    text-align: center;
    padding-top: 6%;
}

.foto-grafico img {
    width: 40%;
}

/*Agua*/
.capa-agua {
    padding-top: 4%;
    text-align: center;
}
.h1-agua {
    padding-top: 1%;
    width: 30%;
    text-align: center;
}
.cant-agua {
    font-family: 'Roboto', sans-serif;
    color: black;
}
.boton-perfil {
    padding-left: 5%;
}
.img-agua {
    width: 70%;
    padding-right: 15%;
}
.w-agua {
    width: 20%;
}

/*Logros*/
.capa-logros {
    text-align: center;
    padding-top: 7%;
    padding-bottom: 5%;
}
.capa-lpendientes {
    padding-top: 6%;
    padding-bottom: 7%;
}
.capa-logros button {
    background-color: #FF6C2B;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 20px;
    border: 3px solid black;
    font-family: 'Montserrat', sans-serif;
}

.w-logros {
    width: 25%;
}
.w-logros a {
    text-decoration: none;
    color: black;
}
.capa-lobtenidos h1 , .capa-lpendientes h1, .titulo-agua, .capa-grafico h1 {
    font-family: 'Ethnocentric Rg', sans-serif;
    color: #FF6C2B;
}
.capa-lobtenidos h2, .capa-lpendientes h2 {
    font-family:  'Montserrat', sans-serif;
}
.capa-lobtenidos h1 {
    padding-bottom: 2%;
}

/*Parte del Footer*/
.capa-footer1 {
    background-color: #5A5D5D;
    padding-bottom: 20px;
    
}

.capa-footer1 h3 {
    font-family:  'Montserrat', sans-serif;
    color: white;
}

.footer-redes,
.footer-info {
    width: 50%;
    text-align: center;
}

.footer-info p {
    /*Parrafo de informacion sobre la compañia*/
    width: 50%;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding-left: 24%;
    padding-top: 2%;
}



.lado-imagenes {
    text-align: end;
}

.redes-img {
    width: 7%;
    text-align: end;
    padding-right: 6px;
}

.nombre-red {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 25px;
    padding-top: 10px;
    width: 100%;
}

.nombre-red a {
    text-decoration: none;
    color: white;
}

/*CSS para la parte del copyright*/
.capa-footer2 {
    background-color: #4E4B4C;
}

.copyright,
.sobre-nosotros {
    width: 50%;
    font-family: 'Roboto', sans-serif;
}


.texto-copyright {
    padding-left: 5%;
    color: white;

}

.sobre-nosotros {
    padding-top: 13px;
    text-align: center;
}

.sobre-nosotros a {
    text-decoration: none;
    color: white;
}


@media(max-width: 767px) {

    .header-logo img {
        width: 70%;
    }
    .header-perfil img {
        width: 25%;
        padding-bottom: 3%;
    }
    .foto-perfil, .info-perfil {
        width: 100%;
    }
    .foto-perfil img {
        padding-left: 5%;
        width: 90%;
    }
    .foto-grafico img {
        width: 90%;
    }
    .h1-agua, .img-agua {
        width: 100%;
        text-align: center;
        padding-right: 0%;
        padding-left: 0%;
    }
    .w-agua {
        width: 20%;
    }
    .w-agua img {
        width: 100%;
    }
    .w-logros {
        width: 100%;
    }
    .w-logros img {
        width: 80%;
    }

    .h1-agua h1 {
        font-size: 25px;
    }
    
    /*Foooter*/
    .footer-info,
    .footer-redes,
    .footer-info p {
        width: 100%;
    }

    .footer-info p {
        padding-left: 0%;
    }
    .nombre-red {
        width: 33.3%;
    }
    .img-copyright img {
        width: 35%;
        padding-top: 34%;
    }
    .sobre-nosotros {
        padding-top: 6%;
    }
    .wrapper-formulario {
        margin: 10px auto;
        width: 70%;
        ;
    }
        
    .wrapper-formulario .boton-cerrar {
        top: -5px;
        right: 5px;
    }    

}