div {
    box-sizing: border-box;
}
body {
    margin: 0%;
    
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
}

/*Header*/
.header-logo,
.header-perfil {
    width: 50%;
    background-color: #4E4B4C;
}

.header-logo img {
    width: 17%;
    padding-left: 3%;
    padding-bottom: 1%;
}

.header-perfil {
    padding-top: 14px;
    padding-right: 5%;
}

.header-perfil i{
    color: #FFC34E
}

.header-perfil {
    text-align: end;
}

/*Navbar Menu*/
.capa-navbar {
    background-color: #FFC34E;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: 'Roboto', sans-serif;
}

.capa-navbar a {
    width: 25%;
    text-align: center;
    text-decoration: none;
    color: black;
}

/*Categorias*/
.capa-categorias {
    padding-bottom: 3%;
}
.titulo-recetas {
    text-align: center;
    font-family: 'Ethnocentric Rg', sans-serif;
    font-weight: bold;
    color: #FF6C2B ;
    padding-bottom: 3%;
}

.cuadros-recetas{
    width: 33.33%;
    text-align: center;
}
.estilo-nombres-recetas{
    color: black;
    font-size: x-large;
    text-decoration: none;
    font-family:'Montserrat', sans-serif;
}


.personalizadas-recetas {
    text-align: center;
    font-family:'Montserrat', sans-serif

}

.imagen-personalizado {
    width: 23.2%;
}


/*Recetas Display*/
.titulos-comidas{
    font-size: 40px;
    font-family:'Montserrat', sans-serif;
    text-align: center;
    color: #FF6C2B;
}

.comida-categoria {
    padding-top: 6%;
}
.estilo-nombres {
    font-family:'Montserrat', sans-serif;
}
.imagenes-opciones-recetas{
    width: 70%;
}
.estilo-texto{
    text-align: left;
    padding-right: 5%;
    font-family: 'Roboto', sans-serif;

}

.comida, .texto{
    width: 50%;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 6%;
    
}
.fotos{
    width: 70%;
}

.divisor {
    height: 1%;
    width: 100%;
    background-color: #4E4B4C;
}

/*Parte del Footer*/
.capa-footer1 {
    background-color: #5A5D5D;
    padding-bottom: 20px;
    
}

.capa-footer1 h3 {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.footer-redes,
.footer-info {
    width: 50%;
    text-align: center;
}

.footer-info p {
    /*Parrafo de informacion sobre la compañia*/
    width: 50%;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding-left: 24%;
    padding-top: 2%;
}



.lado-imagenes {
    text-align: end;
}

.redes-img {
    width: 7%;
    text-align: end;
    padding-right: 6px;
}

.nombre-red {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 25px;
    padding-top: 10px;
    width: 100%;
}

.nombre-red a {
    text-decoration: none;
    color: white;
}

/*CSS para la parte del copyright*/
.capa-footer2 {
    background-color: #4E4B4C;
}

.copyright,
.sobre-nosotros {
    width: 50%;
    font-family: 'Roboto', sans-serif;
}

.texto-copyright {
    padding-left: 5%;
    color: white;

}

.sobre-nosotros {
    padding-top: 13px;
    text-align: center;
}

.sobre-nosotros a {
    text-decoration: none;
    color: white;
}


@media(max-width: 767px) {
    .header-logo img {
        width: 70%;
    }
    .header-perfil img {
        width: 25%;
        padding-bottom: 3%;
    }
    .cuadros-recetas {
        width: 50%;
    }
    .imagenes-opciones-recetas {
        width: 90%;
    }
    .imagen-personalizado {
        width: 47%;
    }
    .comida, .texto {
        width: 100%;
    }
    .texto {
        padding-top: 0%;
        padding-left: 5%;
    }
    .comida {
        padding-bottom: 0%;
    }
    .fotos {
        width: 80%;
        padding-top: 12%;
    }
    /*Foooter*/
    .footer-info,
    .footer-redes,
    .footer-info p {
        width: 100%;
    }

    .footer-info p {
        padding-left: 0%;
    }
    .nombre-red {
        width: 33.3%;
    }
    .img-copyright img {
        width: 35%;
        padding-top: 34%;
    }
    .sobre-nosotros {
        padding-top: 6%;
    }
}